* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

#background {
    position: fixed;
    display: inline-block;
    width: 100%;
    height: 100vh;
    background-size: 100% 100%;
    z-index: -1;
}

#background video {
    width: 100%;
}

footer {
    display: flex;
    height: 10vh;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

footer div {
    padding: 0 30px;
}


footer div:nth-child(1){
    color: orangered;
    font-size: 25px;
    font-weight: bolder;
}


main {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 90vh;
    justify-content: space-around;
}

.logo img {
    width: 250px;
}

.serve {
    color: whitesmoke;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 10px;
    font-weight: 600;
    width: 350px;
    text-align: center;
    font-size: 18px;
}

.serve div {
    padding: 15px 0;
    margin: 5px 0;
    cursor: pointer;
}

.serve div:hover {
    background: rgba(255, 255, 255, 0.2);
}

.serve .button button {
    margin: 15px 0;
}

.serve .active {
    background: rgba(105, 252, 244, 0.2);
}

.button {
    text-align: center;
}

.button button {
    border-top: 1px solid rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    border-left: 2px solid rgba(255, 255, 255, 0.8);
    border-right: 2px solid rgba(255, 255, 255, 0.8);
    border-radius: 50px;
    background: rgba(0, 0, 0, 0.3);
    padding: 10px;
    width: 120px;
    color: white;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
}

.exit {
    cursor: default;
    color: white;
    font-weight: 600;
    font-size: 16px;
}

.exit i {
    color:rgba(0, 0, 0, 0.8);
    background: white;
    padding: 10px;
    border-radius: 10px;
}